#loremPanel
{
	margin: 1%;
	color: green;
	background-color: LightGray;
	float: left;
	width: 97%;
	padding: 0.5%;
	display: none;
}

#gamePanel
{
	display: none;
	margin-left: 1%;
	margin-right: 1%;
	float: left;
	width: 98%;
	margin: 1%;
}

#imagePanel
{
	display: none;
}