.square
{
	background-color: orange;
	color: black;
	float: left;
	width: 32%;
	height: 0;
	padding-bottom: 33%;
	font-size: 8vw;
	text-align: center;
}

@media screen and (max-width: 800px){
	.square
	{
		font-size: 18vw;
	}
}

#square11
{
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#square13
{
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

#square31
{
	border-right: 1px solid black;
	border-top: 1px solid black;
}

#square33
{
	border-left: 1px solid black;
	border-top: 1px solid black;
}

#square12
{
	border-bottom: 1px solid black;
}

#square21
{
	border-right: 1px solid black;
}

#square23
{
	border-left: 1px solid black;
}

#square32
{
	border-top: 1px solid black;
}
