
/* komputer */
.toolbarButton
{
	position: relative;
	width: 20%;
	margin-top: 35px;
	height: 25px;
	float: left;
	color: #D2691E;
	background-color: #7FFF00;
	border-top: 3px solid #D2691E;
	border-left: 3px solid #D2691E;
	border-right: 3px solid #D2691E;
	border-bottom: 3px solid #7FFF00;
	border-radius: 25px 25px 0px 0px;
}

.toolbarButton:hover
{
	color: #7FFF00;
	background-color: #D2691E;
	border-bottom: 3px solid #D2691E;
}


#toolbar
{
	position: relative;
	height: 60px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #00FFFF;
	color: #D2691E;
	border-radius: 0px 0px 25px 25px;
}

#toolbarTitle
{
	width: 30%;
	margin: 10px;
	float: left;
}

/* tablet */
@media screen and (max-width: 800px){
	.toolbarButton
	{
		position: relative;
		width: 27%;
		margin-top: 0;
		margin-left: 3%;
		margin-right: 3%;
		height: 25px;
		float: left;
		color: #D2691E;
		background-color: #7FFF00;
		border-top: 3px solid #D2691E;
		border-left: 3px solid #D2691E;
		border-right: 3px solid #D2691E;
		border-bottom: 3px solid #7FFF00;
		border-radius: 25px 25px 0px 0px;
	}
	
	.toolbarButton:hover
	{
		color: #7FFF00;
		background-color: #D2691E;
		border-bottom: 3px solid #D2691E;
	}
	
	
	#toolbar
	{
		position: relative;
		height: 63px;
		font-family: Arial, Helvetica, sans-serif;
		background-color: #00FFFF;
		color: #D2691E;
		border-radius: 0px 0px 25px 25px;
	}
	
	#toolbarTitle
	{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		text-align: center;
	}
}

/* telefon */
@media screen and (max-width: 640px){
	.toolbarButton
	{
		position: relative;
		width: 94%;
		margin-top: 0;
		margin-left: 3%;
		margin-right: 3%;
		margin-top: 5px;
		height: 25px;
		float: left;
		color: #D2691E;
		background-color: #7FFF00;
		border: 3px solid #D2691E;
		border-radius: 25px;
		clear: both;
	}
	
	.toolbarButton:hover
	{
		color: #7FFF00;
		background-color: #D2691E;
		border-bottom: 3px solid #D2691E;
	}
	
	
	#toolbar
	{
		position: relative;
		height: 150px;
		font-family: Arial, Helvetica, sans-serif;
		background-color: #00FFFF;
		color: #D2691E;
		border-radius: 0px 0px 25px 25px;
	}
	
	#toolbarTitle
	{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		text-align: center;
	}
}
